@import 'reset.css';
@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body{
    height: 99%;
}

body {
    background-color: #0B0B3B !important;
    font-family:'NeoDunggeunmo';
    color: #ffffff  !important;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* header CSS */
header {
    text-align: center;
    color:#FA58D0;
    font-size: 3em;
    padding-top: 3em;
}


/* main 속성 CSS */
.items {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 1.5em;
}

.item {
    padding: 20px;
}

a {
    all: unset;
    cursor: pointer;
    text-decoration: none;
}

a:visited{
    color: white;
}

/* footer CSS */

footer{
    margin-top: auto;
}

footer > p {
    font-family: 'Noto Sans KR', sans-serif;
    color: #7a7d84;
    font-weight: 100;
    font-size: 0.7rem;
    margin: 0;
}
