@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
            

body,
html {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: lavender;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

div{
    display: block;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* flex box 사용 */
    justify-content: center;
    /* margin: auto; */
}

form {
    padding: 1rem;
}

input {
  background: none;
  appearance: none;
  border: 0;
  font-size: 20px;
  color: white;
  border-bottom: 2px solid white;
}

input::placeholder {
  color: white;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
    font-size: 2em;
    font-family: 'Song Myung', serif;
    text-shadow: 1px 1px 1px gray;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    text-align: left;
}

.todo-delBtn {
    cursor: pointer;
    margin-right: 10px;
}

.clock {
    font-size: 5em;
    text-shadow: 1px 1px 1px gray;
}

.nameNToDO {
    font-family: 'Song Myung', serif;
}

.weather {
    font-family: 'MapoFlowerIsland';
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    text-shadow: 1px 1px 1px gray;
    margin: 5px 5px;
}

.toDoList {
    margin-bottom: 20px;
    font-size: 18pt;
}

.notice {
    font-size: 0.7rem;
    font-weight: 100;
    margin: 0;
}